<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion M&As and Deals</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500&family=Inter:wght@200;300;400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    </link>
</head>

<body>
    <div id="container">
        <div class="header">
            <h1 class="assignment">Fashion Blog <br>Transactions</h1>
            <h1 class="ghibli">Deals</h1>
        </div>
        <div id="app">
            <div id="left">
                Hello
            </div>
            <div id="right">
                <div id="filter">
                    <h1>Filter content by keyword.</h1>
                    <form @submit='searchDeals'>
                        <input type="text" v-model="searchQueryInput"
                            placeholder="search keyword in title or description" />
                        <input id="submit" type="submit" value="Enter" /><input type="reset" @click="reset"
                            value="Reset" />
                    </form>
                </div>
                <!-- Debugging {{ JSON.stringify(deals) }} -->
                <div id="content">
                    <deal-block v-for='deal in resultQuery' :title="deal.title" :country="deal.country"
                        :content="deal.content">
                    </deal-block>
                </div>
            </div>

        </div>
    </div>
    <script src="https://unpkg.com/vue@3.0.0"></script>
    <script src="./app.js" type='module'></script>
</body>

</html>