html {
  font-size: 14px;
  /*font-family: 'Arial', sans-serif;*/
width: 1200px;
  background-color: white;
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.header{
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  /*background-color: #0011ff;*/
  padding: 1%;
  display: block;
}

.ghibli {
font-family: 'Fredoka One', cursive;
padding: 0 1rem;
color: white;
display: block;
float: left;
}
    
.assignment {
font-family: 'Fredoka One', cursive;
padding: 0 1rem;
color: white;
display: block;
float: right;
font-size: 1.5rem;
}
    

.header> h1 {
font-family: 'Fredoka One';
color: white;
text-align: right;
}

.header> h2 {
font-family: 'Nunito';
color: orange;
}

.filter> h1 {
font-family: 'Fredoka One';
color: orange;
}

.filter>p, h2, h3 {
font-family:'Fredoka One', sans-serif; 
color: orange;
}

li, p {
font-family: 'Nunito', sans-serif;  
color: white;
}

.filter {
    padding: 1% 5%;
}

input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 10px 8px 0px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: RGBA(132, 183, 219, 0.3);
}

 input:focus {
    outline:none;
    font-family: 'Nunito', sans-serif; 
    font-size: 1rem;
    color: white;
 }
        
::placeholder {
 font-family: 'Nunito', sans-serif;  
 font-size: 1rem;
 color: white;
}

input:after {
 font-family: 'Nunito', sans-serif;  
 font-size: 1rem;
 color: white;
}

input[type=submit], select {
  width: 10%;
  background-color: orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 4px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Fredoka One', sans-serif; 
}

input[type=reset] {
  width: 10%;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 4px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Fredoka One', sans-serif; 
}

input[type=submit]:hover {
  background-color: white;
  color: orange;
}


input[type=reset]:hover {
 background-color: white;
 color: grey;
}

#deal {
    padding: 1% 5%;
}


#container {
 width: 100%;
 background-color: #3898ca;
 color: white;
}