@font-face { font-family: "ObjectSans-Bold"; 
  src: url("./assets/ObjectSans-Bold.woff") format("woff");
  /* font-stretch: 25% 151%; */
  } 
  @font-face { font-family: "ObjectSans-Regular"; 
    src: url("./assets/ObjectSans-Regular.woff") format("woff");
    /* font-stretch: 25% 151%; */
    } 

   
html {
  font-size: 14px;
  /*font-family: 'Arial', sans-serif;*/
width: 1200px;
  background-color: white;
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.header{
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  /*background-color: #0011ff;*/
  padding: 1%;
  display: block;
}

.ghibli {
font-family: "ObjectSans-Regular", cursive;
padding: 0 1rem;
color: black;
display: block;
float: left;
}
    
.assignment {
font-family:  "ObjectSans-Regular", cursive;
padding: 0 1rem;
color: black;
display: block;
float: right;
font-size: 1.5rem;
}
    

#filter > h1 {
font-family:  "ObjectSans-Regular";
color: black;
text-align: left;
}

.header> h2 {
font-family: 'ObjectSans-Regular';
color: orange;
}

#filter>p, h2, h3 {
font-family: "ObjectSans-Regular", sans-serif; 
color: orange;
}

li, p {
font-family: "Inter", sans-serif;  
color: black;
font-weight: 200;
}

#filter {
    padding: 1% 5%;
}

input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 10px 8px 0px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: RGBA(132, 183, 219, 0.3);
}

 input:focus {
    outline:none;
    font-family: "NeueMontreal-Regular", sans-serif; 
    font-size: 1rem;
    color: black;
 }
        
::placeholder {
 font-family:"NeueMontreal-Regular", sans-serif;  
 font-size: 1rem;
 color: black;
}

input:after {
 font-family: "NeueMontreal-Regular", sans-serif;  
 font-size: 1rem;
 color: black;
}

input[type=submit], select {
  width: 10%;
  background-color: orange;
  color: black;
  padding: 14px 20px;
  margin: 8px 4px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: "NeueMontreal-Regular", sans-serif; 
}

input[type=reset] {
  width: 10%;
  background-color: grey;
  color: black;
  padding: 14px 20px;
  margin: 8px 4px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'ObjectSans-Regular', sans-serif; 
}

input[type=submit]:hover {
  background-color: grey;
  color: orange;
}


input[type=reset]:hover {
 background-color: black;
 color: grey;
}

#deal {
    padding: 1% 5%;
    display: block;
}


#container {
 width: 100%;
 background-color: white;
 color: black;
}

#app{
  display: grid;
  grid-template-columns: 30% 70%;
}